NODE_ENV=development
PORT=10010
CORS_ORIGIN=*

THROTTLE_TTL=60000
THROTTLE_LIMIT=120

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=autoflow
DB_SYNCHRONIZE=true
DB_LOGGING=false
DB_SSL=false


JWT_SECRET=replace_with_a_random_secret_at_least_32_chars_long
JWT_EXPIRES_IN=1d